body{
    background-color: black;
    color: silver;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h1, h2, h3, h4, h5, h6{
    text-shadow: 4px 4px 3px silver;
}
.mid-text{
    font-size: medium;
}
.big-text{
    font-size: large;
}
.silver-border{
    border:5px solid silver;
}
ol, ul, p{
    background-color: silver;
    color: black;
}

